body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Kolor tła ciemny szary */
  color: #ffffff; /* Kolor tekstu biały */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.countdown-container {
  text-align: center;
}

#countdown {
  font-size: 2em;
  margin-top: 20px;
  color: #00ff00; /* Kolor tekstu licznika, na przykład jasnozielony */
}

.video-caption {
  text-align: center;
  margin-top: 20px;
}

.video-caption p {
  font-size: 1.2em;
  font-weight: bold;
  color: #ff9900; /* Kolor tekstu napisu nad filmem, na przykład pomarańczowy */
}

.subscribers-count {
  font-size: 1.2em;
  margin-top: 20px;
}
